<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vendor.math.service">

    <application>
        <service android:name=".MathAreaService"
            android:exported="true"
            android:enabled="true" >
            <intent-filter>
                <action android:name="vendor.math.service.ACTION_BIND" />
            </intent-filter>
        </service>
    </application>

</manifest>